.btn_news {
    transition: all .5s ease;
    color: #fff;
    border: 3px solid white;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    font-size: 17px;
    background-color: rgb(205, 134, 63);
    padding: 10px;
    outline: none;
    border-radius: 4px;
}

.btn_news:hover {
    color: #001F3F;
    background-color: rgb(205, 134, 63);
}

.news_div {
    margin-left: 35px;
}

.card_news {
    width: 21rem;
    margin-bottom: 30px;
}

.card-title {
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.pr {
    color: orange;
}

.card-title:hover {
    color: orange;
    text-decoration: none;
}

.btn_news_read {
    width: 50px;
    text-align: center;
}